# Section 7.1 
## Question 1
```SQL
SELECT
	"Model Year",
	Make,
	Model
FROM SavvyCoders_SQL_evRegistry
```
## Question 2 
```SQL
SELECT
	DISTINCT "Electric Vehicle Type" as ElectricVehicleType
FROM SavvyCoders_SQL_evRegistry
```
## Question 3 
```SQL
SELECT *
FROM SavvyCoders_SQL_evRegistry
```
## Question 4
```SQL
SELECT
	Make,
	Model,
	"Base MSRP"
FROM SavvyCoders_SQL_evRegistry
WHERE "Base MSRP" BETWEEN 20000 AND 35000
```
---

# Section 7.2 
## Question 1
```SQL
SELECT *
FROM SavvyCoders_SQL_evRegistry
WHERE City IS NULL
```
## Question 2 
```SQL
SELECT
	Make,
	Model,
	"Electric Vehicle Type"
FROM SavvyCoders_SQL_evRegistry
WHERE VIN like "%3E1EA1J"
```
## Question 3 
```SQL
SELECT
	"Model Year",
	Make,
	Model,
	"Electric Vehicle Type",
	"Electric Range"
FROM SavvyCoders_SQL_evRegistry
WHERE Make like "CHEVROLET" or "TESLA"
ORDER BY "Model Year" DESC
```
## Question 4
```SQL
SELECT
	stationId,
	count(stationId) as timesUsed
FROM EVCharging
GROUP BY stationId
ORDER BY timesUsed DESC
LIMIT 5
```
## Question 5
```SQL
SELECT
	userId,
	min(chargeTimeHrs) as minTime,
	max(chargeTimeHrs) as maxTime
FROM EVCharging
GROUP BY userId
ORDER BY minTime, maxTime
```
---

# Section 7.3 
## Question 1
```SQL
SELECT
	weekday,
	round(avg(chargeTimeHrs),2) as averageChargeTime
FROM EVCharging
GROUP BY weekday
```
## Question 2 
```SQL
SELECT
	userId,
	round(sum(kwhTotal), 2) as totalPower
FROM EVCharging
GROUP BY userId
ORDER BY totalPower DESC
LIMIT 15
```
## Question 3 
```SQL
SELECT
	typeFacility,
	count(stationId) as numStation
FROM factCharge
INNER JOIN dimFacility
ON FacilityKey = facilityID
GROUP BY typeFacility
ORDER BY numStation DESC
```
## Question 4
```SQL

```
## Question 5
```SQL
SELECT
	userId,
	min(chargeTimeHrs) as minTime,
	max(chargeTimeHrs) as maxTime
FROM EVCharging
GROUP BY userId
HAVING sum(chargeTimeHrs) > 1
ORDER BY minTime, maxTime
```
---